ESMS_API_KEY=
ESMS_BRANDNAME=
ESMS_SECRET_KEY=
ESMS_SMS_TYPE=
FIREBASE_API_KEY=
GEMINI_API_KEY=
GMAIL_USER=
GMAIL_APP_PASSWORD=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SPEEDSMS_API_KEY=
SPEEDSMS_SENDER=
SPEEDSMS_TYPE=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
VITE_FIREBASE_API_KEY=
VITE_GOOGLE_MAPS_API_KEY=
SUPABASE_URL=
SUPABASE_SECRET_KEY=
APP_URL=
